.banner {
    background: url('../../assets/images/banner_m.png');
    background-size: cover;
    height: 100vh;
}

@media (min-width: 992px) {
    .banner {
        background: url('../../assets/images/banner.png');
        background-size: cover;
    }
}